* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  box-sizing: "border-box";
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

#root {
  width: 100%;
  background-color: #242424;
}
