* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  place-items: center;
  width: 100%;
  height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
